# Зависимости
node_modules/

# Секретные файлы (ОЧЕНЬ ВАЖНО!)
.env

# База данных
*.sqlite
*.db

# Загруженные картинки (чтобы не засорять гитхаб чужими аватарками)
server/uploads/

# Системные файлы macOS
.DS_Store